.untree_co-section {
    padding: 7rem 0;
}

.before-footer-section {
    padding: 7rem 0 12rem 0 !important;
}

.site-blocks-table {
    overflow: auto;
}

.site-blocks-table .product-thumbnail {
    width: 200px;
}

.site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 0px !important;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
}

.cart-btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: #2f2f2f;
    border-color: #2f2f2f;
}

.cart-btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}

.table > thead > tr > th, .table > tbody > tr > td {
    background-color: #EFF2F1 !important;
    padding: 20px !important;
    text-align: center;
}


.table > thead {
    border-bottom: 2px solid black;
}