.untree_co-section {
    padding: 7rem 0;
}

.section-title {
    color: #2f2f2f;
}

h3 a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #2f2f2f;
    text-decoration: underline;
}

a.more {
    color: #2f2f2f;
    font-weight: 600;
}