.navbar {
  background: #3b5d50 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.navbar-brand {
  color: white;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
a.navbar-brand:hover {
  color: #ffffff;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
}

.navbar .navbar-brand > span {
  opacity: 0.4;
}

.navbar-nav > a {
  font-weight: 500;
  color: #ffffff !important;
  opacity: 0.5;
  transition: 0.3s all ease;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.navbar-nav > ul > a {
  opacity: 1;
}

.navbar-nav > a:hover {
  opacity: 1;
  border-bottom: 4px solid #f9bf29;
}

.navbar-nav > ul > a:hover {
  border-bottom: none;
}

.nav-icon {
  color: #ffffff !important;
  opacity: 1;
}

li.active a:before {
  width: calc(100% - 16px);
}

.carousel-height {
  height: 380px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgb(221,226,224);
  border-radius: 50%;
  padding: 2rem !important;
  height: 3rem !important;
  width: 3rem !important;
}