.navbar {
  background: #3b5d50 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.navbar-brand {
  color: white;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
a.navbar-brand:hover {
  color: #ffffff;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
}

.navbar .navbar-brand > span {
  opacity: 0.4;
}

.navbar-nav > a {
  font-weight: 500;
  color: #ffffff !important;
  opacity: 0.5;
  transition: 0.3s all ease;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.navbar-nav > ul > a {
  opacity: 1;
}

.navbar-nav > ul > a:hover {
  border-bottom: none;
}

.nav-icon {
  color: #ffffff !important;
  opacity: 1;
}

.navbar-nav > a:hover {
  opacity: 1;
  border-bottom: 4px solid #f9bf29;
}

.custom-navbar .custom-navbar-nav a {
  font-weight: 500;
  color: #ffffff !important;
  opacity: .5;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
}

.custom-navbar .custom-navbar-nav a:hover:before {
  width: 100%;
}

@media screen {
  @media (min-width: 768px) {
    .custom-navbar .custom-navbar-cta {
      margin-left: 40px !important;
    }
    .navbar-nav > a:hover {
      opacity: 1;
      border-bottom: none;
    }

    .custom-navbar .custom-navbar-nav a:before {
      content: "";
      position: absolute;
      top: 30px;
      /* bottom: 0;
      left: 0;
      right: 0; */
      background: #f9bf29;
      height: 5px;
      opacity: 1;
      visibility: visible;
      width: 0;
      -webkit-transition: .15s all ease-out;
      -o-transition: .15s all ease-out;
      transition: .15s all ease-out;
  }
  }

  @media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
      margin-left: 15px;
      margin-right: 15px;
    }    
  }
}
